@{
    Layout = null;
}
@using CZBK.ItcastOA.Model
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>为角色分配权限</title>
    <script src="~/Scripts/jquery-1.7.1.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script type="text/javascript">
        function subForm() {
            $("#setRoleActionForm").submit();
        }
        function afterSet(data) {
            window.parent.afterSet(data);
        }
    </script>
</head>
<body>
    <div>
        为 @{
            RoleInfo roleInfo = ViewBag.RoleInfo;
             <span style="font-size:14px;color:red;font-weight:bold">@roleInfo.RoleName</span>   
        }角色分配权限
        <br />
        @{
            using (Ajax.BeginForm("SetRoleAction", "RoleInfo", new { }, new AjaxOptions() { HttpMethod="post",OnSuccess="afterSet"}, new {id="setRoleActionForm" }))
            {
                <input type="hidden" name="roleId" value="@roleInfo.ID" />
                List<ActionInfo> actionInfoList = ViewBag.ActionInfoList;
                List<int> actionIdList = ViewBag.ActionIdList;
                foreach (var actionInfo in actionInfoList)
                {
                    var actionName = "cba_" + actionInfo.ID;
                    if (actionIdList.Contains(actionInfo.ID))
                    {
                    <input type="checkbox" value="@actionInfo.ID" name="@actionName" checked="checked" />@actionInfo.ActionInfoName
                    }
                    else
                    {
                      <input type="checkbox" value="@actionInfo.ID" name="@actionName"  />@actionInfo.ActionInfoName
                    }

                }
            }
        }
    </div>
</body>
</html>
