
@{
    ViewBag.Title = "Index";

}
@using AppMvcWebForm.Models;
@using Common;
<h2>Index</h2>


@*
    
    做完 CURD分页 不用分层
url传递多个参数？？

    shared 模板页 共用的文件 页面内容
    
    
    *@
<table>
    <thead>
        <tr>
            <th>编号</th>
            <th>姓名</th>
            <th>密码</th>
            <th>邮箱</th>
            <th>注册日期</th>
        </tr>
    </thead>
    @*<tr>
             @ViewData["userInfoList"];

        </tr>*@
    @foreach (UserInfo item in (IQueryable<UserInfo>)ViewData["userInfoList"])
    {
        <tr>
            <td>@item.ID</td>
            <td>@item.UserName</td>
            <td>@item.UserPass</td>
            <td>@item.Email</td>
            <td>@item.RegTime</td>
            <td><a href="/UserInfo/ShowDetial/@item.ID">详细</a></td>
            <td><a href="/UserInfo/ShowEdit/@item.ID">编辑</a></td>
            <td><a class="delete" href="/UserInfo/Delete/@item.ID">删除</a></td>
        </tr>
    }
    <tr>
        <td></td>
    </tr>
</table>
<hr />

@*会把生成的内容 当中html字符 而不是 自动htmlEncode*@

@MvcHtmlString.Create(PageBarHelper.GetPageBar((int)ViewData["pageIndex"],(int) ViewData["pageCount"]));

<script>
    window.onload = function () {

        //调试一下 删除的脚本
        var deletes = document.querySelector(".delete");
        for (var i = 0; i < deletes.length; i++) {
            diletes[i].onclick = function () {
                if (!confirm("确定要删除吗？？")) {
                    return false;
                }
            }
        }
    
    }

</script>

