@model IQueryable<MVC.Model.UserInfo>
@using MVC.Model;
@{
    ViewBag.Title = "Home Page";
}


<table>
@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserPass)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RegTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        @*<td>
            @Html.ActionLink("Edit", "/#", new { id = item.ID }) |
            @Html.ActionLink("Details", "/#", new { id = item.ID }) |
            @Html.ActionLink("Delete", "/#", new { id = item.ID })
        </td>*@
    </tr>
}
</table>

