@{
    Layout = null;
}
@using CZBK.ItcastOA.Model
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>为用户分配角色</title>
    <script src="~/Scripts/jquery-1.7.1.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script type="text/javascript">
        function subForm() {
            $("#setUserRoleForm").submit();
        }
        function afterSet(data) {
            window.parent.afterSetUserRole(data);
        }
    </script>
</head>
<body>
    <div>
        为  @{
            UserInfo userInfo = ViewBag.UserInfo;
           <span style="font-size:14px;color:red;font-weight:bold"> @userInfo.UName</span>
            
        }  用户分配角色<br />

        @{
            using(Ajax.BeginForm("SetUserRoleInfo","UserInfo",new{},new AjaxOptions(){OnSuccess="afterSet",HttpMethod="post"},new{id="setUserRoleForm"})){
                <input type="hidden" name="userId" value="@userInfo.ID" />
            List<RoleInfo> allRoleList = ViewBag.AllRoleList;
            List<int>roleIdList=ViewBag.AllUserRoleIdList;
            foreach(RoleInfo roleInfo in allRoleList){
                var roleName="cba_"+roleInfo.ID;
                if(roleIdList.Contains(roleInfo.ID))
                {
                   
              <input type="checkbox" name="@roleName" value="@roleInfo.ID" checked="checked" />@roleInfo.RoleName
                    }
                    else
                    {
                 <input type="checkbox" name="@roleName" value="@roleInfo.ID"  />@roleInfo.RoleName
                }
            }
         }
        }

    </div>
</body>
</html>
